/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

* { 

	margin: 0;
	padding: 0;
	@include box-sizing(border-box);

}

html { height: 100%; }

body { 

	background: url("../omfgdogs.gif") repeat;
	position: relative;
	height: 100%;

}

embed {
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;

}

a { 

	position: absolute;
	bottom: 10px;
	right: 10px;
	display: block;
	width: 200px;
	height: 100px;
	line-height: 100px;
	background: #f9f9f9;
	color: #313131;
	text-align: center;

}