/* line 1, ../sass/mobile.scss */
.page-wrap {
  width: 95%;
}

/* line 7, ../sass/mobile.scss */
h1 {
  line-height: 40px;
  color: #313131;
  text-shadow: none;
}

/* line 15, ../sass/mobile.scss */
nav li {
  width: 100%;
}
/* line 19, ../sass/mobile.scss */
nav li a {
  text-transform: uppercase;
}

/* line 24, ../sass/mobile.scss */
h2 {
  border-bottom: 1px solid #ccc;
}
