/* line 17, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/personal.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/personal.scss */
.fr {
  float: right;
}

/* line 8, ../sass/personal.scss */
.fl {
  float: left;
}

/* line 9, ../sass/personal.scss */
.w50 {
  width: 50%;
}

/* line 11, ../sass/personal.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: url("../images/dark_fish_skin.png");
}

/* line 18, ../sass/personal.scss */
h1 {
  font-size: 2.3em;
  padding: 15px;
  height: 220px;
  width: 100%;
  display: block;
  background: url("../images/tree.jpg") no-repeat 60% 60%;
  text-shadow: 0px 2px 0px #666;
  color: #fcfcfc;
  text-align: right;
  line-height: 360px;
}

/* line 33, ../sass/personal.scss */
h2 {
  font-size: 1.8em;
  padding: 15px 0 5px 25px;
}

/* line 40, ../sass/personal.scss */
p {
  padding: 7px 15px;
  text-indent: 1em;
  line-height: 1.7em;
  width: 96%;
  display: block;
  margin: 0 auto;
}

/* line 49, ../sass/personal.scss */
.page-wrap {
  display: block;
  width: 960px;
  background: #fcfcfc;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 10px #050505;
  -moz-box-shadow: 0px 0px 10px #050505;
  box-shadow: 0px 0px 10px #050505;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 61, ../sass/personal.scss */
nav {
  position: relative;
  width: 100%;
  background: #f5f5f5;
  padding: 10px;
}
/* line 67, ../sass/personal.scss */
nav:after {
  position: absolute;
}
/* line 74, ../sass/personal.scss */
nav li {
  display: inline-block;
  width: 20%;
}
/* line 79, ../sass/personal.scss */
nav li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa, inset 0px 1px 2px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 1px 2px #aaaaaa, inset 0px 1px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 2px #aaaaaa, inset 0px 1px 2px rgba(255, 255, 255, 0.7);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border: 1px solid #aaa;
  border-top-color: #ccc;
  text-shadow: 0px 1px #ddd;
  background: #f1e767;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
  /* IE6-9 */
  color: #444;
}
/* line 101, ../sass/personal.scss */
nav li a:hover {
  background: #F9AE45;
}
